html {
    scroll-behavior: none;
}

body {
    background-color: #dedede;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: cursive;
    font-size: 1.95em;
}

li {
    margin-top: 20px;
}

img  {
    border: 3px solid black;
    border-radius: 35px;
    
} 

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid img {
    width: 100%; /* Ensures images take up the full width of their container */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures images fill their container without distortion */
}

@media (min-width: 772px) {
    .grid {
        grid-template-columns: 1fr 1fr; /* Two columns on medium screens */
        gap: 10px;
    }
    .grid img {
        width: 200px;      /* or any fixed value */
        height: 200px;     /* must be equal to width */
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid black;
    }
    .last-img img {
        border-radius: 0; /* No border radius for the last image */
        width: 80%; /* Full width for the last image */
    }
    .last-img {
        grid-column: span 2;
        width: 860px; /* Full width for the last image */       
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px; 
    }
    .grid img {
        width: 200px;
        height: 200px;
        border-radius: 0; /* No border radius for the grid */
    }
    .grid figure:nth-child(3n) {
        grid-column: span 2; /* every third image spans two columns */
        border-radius: 0; /* No border radius for the third image */
    } 
    .grid figure:nth-child(3n) img {
        width: 100%; /* Full width for the third image */
        height: 300px; /* Maintains aspect ratio */
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: darkblue;
        color: lightyellow;
    }
    .grid img {
        border: 3px solid black;
    }
    /* Add any other dark mode styles here */
}